<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <style>
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h3><a th:href="@{/}">Home page</a></h3>
            <h3><a th:href="@{/products}">List product</a></h3>
            <div style="display: flex; align-content: center; justify-content: space-between">
                <h3 class="cart" th:text="'Cart( ' + ${numberOfItems} + ' )'"></h3>
                <a th:href="@{/checkout}">
                    <button>Checkout</button>
                </a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 40%">Product Name</th>
                <th scope="col" style="width: 10%">Unit Price</th>
                <th scope="col" style="width: 15%">Quantity</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart, i : ${carts}">
                <th scope="row" style="width: 5%" th:text="${i.index + 1}"></th>
                <td th:text="${cart.product.productName}" style="width: 40%"></td>
                <td th:text="${#numbers.formatDecimal(cart.product.unitPrice, 0, 'COMMA', 0, 'POINT')}" style="width: 10%"></td>
                <td th:text="${cart.quantity}" class="quantity" style="width: 15%"></td>
                <td style="display: flex; justify-content: center; gap: 20px">
                    <form th:action="@{/cart/change-quantity/{id}(id=${cart.product.id})}" class="form-increment">
                        <input type="hidden" th:name="id" th:value="${cart.product.id}">
                        <button type="submit">Add</button>
                    </form>
                    <form th:action="@{/cart/change-quantity/{id}(id=${cart.product.id})}" class="form-decrement">
                        <input type="hidden" th:name="id" th:value="${cart.product.id}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        const formIncrements = document.querySelectorAll('.form-increment');
        formIncrements.forEach(form => {
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type : "POST",
                    url : "/cart/change-quantity",
                    ContentType : "application/json",
                    dataType : 'json',
                    data : {
                        id: form.querySelector('input[name="id"]').value,
                        action: "increment",
                    },
                    success : function(data) {
                        form.closest('tr').querySelector('.quantity').innerText = data.quantity;
                        const cart = document.querySelector('.cart');
                        cart.innerText = `Cart( ${data.numberOfItems} )`
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            })
        })

        const formDecrements = document.querySelectorAll('.form-decrement');
        formDecrements.forEach(form => {
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type : "POST",
                    url : "/cart/change-quantity",
                    ContentType : "application/json",
                    dataType : 'json',
                    data : {
                        id: form.querySelector('input[name="id"]').value,
                        action: "decrement",
                    },
                    success : function(data) {
                        if(data.quantity === 0) {
                            form.closest('tr').remove()
                        }else {
                            form.closest('tr').querySelector('.quantity').innerText = data.quantity;
                        }
                        const cart = document.querySelector('.cart');
                        cart.innerText = `Cart( ${data.numberOfItems} )`
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            })
        })
    </script>
</body>
</html>